<div class="container">

  <!-- FLEX CONCEPTS START -->

	<!-- <div class="box item-1">Item 1</div>
	<div class="box item-2">Item 2</div>
	<div class="box item-3">Item 3</div>
    <div class="box">Item 4</div>
    <div class="box">Item 5</div>
    <div class="box">Item 6</div>

    <div class="box">Item 7</div>
    <div class="box">Item 8</div>
    <div class="box">Item 9</div> -->
<!-- 
    FLEX CONCEPTS ENDS -->

<!-- GRID CONCEPTS STARTS -->

    <!-- <div class="item11">Item 11</div>
    <div class="item12">Item 12</div>
    <div class="item13">Item 13</div>

    
    <div class="item111">Item 111</div>
    <div class="item112">Item 112</div>
    <div class="item113">Item 113</div>

    
    <div class="item1111">Item 1111</div>
    <div class="item1112">Item 1112</div>
    <div class="item1113">Item 1113</div> -->



  <!-- <div class="tile-container">
    <div class="tile">Tile 1</div>
    <div class="tile">Tile 2</div>
    <div class="tile">Tile 3</div>
  </div> -->

  <!-- <div class="tile">
  <img src="src/assets/images/hotel.jpg" alt="Resort Image" style="width:100%; border-radius: 10px;" />
  <h3>My Tile Title</h3>
  <p>Description goes here...</p>
</div> -->


    <div id="header">Header</div>
  <div id="content">Main Content</div>
  <div id="sidebar">Sidebar</div>
  <div id="footer">Footer</div>





</div>


