<!-- <input type="text" #data="ngModel" [(ngModel)]="name" (input)="handleChange(data)" minlength="2" maxlength="10" required> -->
<!-- <p>{{name}}</p>

<select [(ngModel)]="name"> 
  <option value="php">PHP</option>
  <option value="C#">CSharp</option>
  
</select> -->

<!-- <form #form="ngForm" (ngSubmit)="handleFormSubmit(form)">
  <div>
        <label>Email</label>
        <input type="email" name="emailid" #email="ngModel" [(ngModel)]="formmodel.email" required>
        <div *ngIf="email.invalid && email.touched" class="text-danger">
            <p>Invalid Email</p>
        </div>
  </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" #pswd="ngModel" [(ngModel)]="formmodel.password" required>
        <div *ngIf="pswd.invalid && pswd.touched" class="text-danger">
          <p>Invalid Password</p>
        </div>
  </div>
  <button type="submit">Login</button>
</form> -->

<!-- <form (ngSubmit)="handleFormSubmit()" [formGroup]="formModel">
  <div>
        <label>Email</label>
        <input type="email" name="emailid" formControlName="email" required>
        <div *ngIf="formModel.get('email')?.invalid && formModel.get('email')?.touched" class="text-danger">
            <p>Invalid Email</p>
        </div>
  </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" formControlName="password" required>
        <div *ngIf="formModel.get('password')?.invalid && formModel.get('password')?.touched" class="text-danger">
          <p>Invalid Password</p>
        </div>
  </div>
  <button type="submit">Login</button>
</form> -->

<div *ngIf="!showFirstcomponet">
  <form (ngSubmit)="handleRegForm()" [formGroup]="formModel">
      <div>
          <label for="firstName">FirstName</label>
          <input type="text" name="firstName" id="firstName" formControlName="firstName" required>
          <div *ngIf="formModel.get('firstName')?.invalid && formModel.get('firstName')?.touched" class="text-danger">
            <p>Invalid FirstName</p>
          </div>        
      </div>
      <div>
         <label for="lastName">LastName</label>
         <input type="text" name="lastName" id="lastName" formControlName="lastName" required>
         <div *ngIf="formModel.get('lastName')?.invalid && formModel.get('lastName')?.touched" class="text-danger">
          <p>Invalid LastName</p>
         </div>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" required>
        <div *ngIf="formModel.get('email')?.invalid && formModel.get('email')?.touched" class="text-danger">
          <p>Invalid Email</p>
        </div>
      </div>
      <div>
         <label for="phoneNo">PhoneNo</label>
        <input type="tel" name="phoneNo" id="phoneNo" formControlName="phoneNo" required>
        <div *ngIf="formModel.get('phoneNo')?.invalid && formModel.get('phoneNo')?.touched" class="text-danger">
          <p>Invalid phoneNo</p>
        </div>
      </div>
      <div>
        <label for="gender">Gender</label>
        <input type="text" name="gender" id="gender" formControlName="gender" required>
        <div *ngIf="formModel.get('gender')?.invalid && formModel.get('gender')?.touched" class="text-danger">
          <p>Invalid Gender</p>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password" required>
        <div *ngIf="formModel.get('password')?.invalid && formModel.get('password')?.touched" class="text-danger">
          <p>Invalid Password</p>
        </div>
      </div>
      <div>
        <label for="confirmPassword">ConfirmPassword</label>
        <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="formModel.get('confirmPassword')?.invalid && formModel.get('confirmPassword')?.touched" class="text-danger">
          <p>Invalid ConfirmPassword</p>
        </div>
      </div>
      <div>
        <label for="Country">Country</label>
         <select>         
          <option value="india">India</option>
            <option value="france">France</option>
            <option value="russia">Russia</option>
        </select>
      </div>
     
   <button type="submit">Submit</button>

  </form>
<br><br>
    <app-my-first *ngIf="showFirstcomponet"></app-my-first>
    <button (click)= "goToClick()">Show First Component</button>
</div>
<router-outlet></router-outlet>