<p>grid works!</p>
<div class="container">

<!-- GRID CONCEPTS STARTS -->

    <div class="item11">Item 11</div>
    <div class="item12">Item 12</div>
    <div class="item13">Item 13</div>

    
    <div class="item111">Item 111</div>
    <div class="item112">Item 112</div>
    <div class="item113">Item 113</div>

    
    <div class="item1111">Item 1111</div>
    <div class="item1112">Item 1112</div>
    <div class="item1113">Item 1113</div>



  <!-- <div class="tile-container">
    <div class="tile">Tile 1</div>
    <div class="tile">Tile 2</div>
    <div class="tile">Tile 3</div>
  </div> -->

  <!-- <div class="tile">
  <img src="src/assets/images/hotel.jpg" alt="Resort Image" style="width:100%; border-radius: 10px;" />
  <h3>My Tile Title</h3>
  <p>Description goes here...</p>
</div> -->



</div>
